a {
    display: inline-block;
}

a:link {
    color: blue
}

a:visited {
    color: blue
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    overflow: hidden;
    background-color: #7e7e7e;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar a.NotDropdown {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.Intro, .Analyses {
    float: left;
    overflow: hidden;
}

.Intro .IntroButton, .Analyses .AnalysesButton {
    font-size: 16px;
    border: none;
    outline: none;
    color: inherit;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-decoration: none;
}

.navbar a:hover, .Intro:hover .IntroButton, .Analyses:hover .AnalysesButton {
    background-color: #626262;
}

.IntroContent, .AnalysesContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.Intro:hover .IntroContent, .Analyses:hover .AnalysesContent {
    display: block;
}

.IntroContent a, .AnalysesContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.IntroContent a:hover, .AnalysesContent a:hover {
    background-color: #ddd;
}

footer {
    background-color: #7e7e7e;
    position: relative;
    width: 100%;
}