{% extends "layout.html" %}
{% block content %}

<p>
This is designed to be a collection of various different analyses employed by 
the Thayer Lab, and explanations of each. Click on each to learn more.
</p>

<a href="RMSD">RMSD</a><br>
<a href="RMSF">RMSF</a><br>
<a href="clustering">Clustering</a><br>
<a href="hbond">Hydrogen Bonding</a><br>
<a href="SecStruct">Secondary Structure</a><br>
<a href="Ramachandran">Ramachandran Plots</a><br>
<a href="MDSectors">Covariance Matrices/MD Sectors</a><br>
<a href="electrostatics">Electrostatics</a><br>

{% endblock content %}