{% extends "layout.html" %}
{% block content %}

<p>
    Welcome on your first step in learning about Molecular Dynamic (MD) Simulations! Please visit the below
    pages to learn more about individual parts of Molecular Dynamic Simulations.
</p>

<ul>
    <li><a href="/Theory">Intro and Theory</a></li>
    <li><a href="/tleap">tLEaP</a></li>
    <li><a href="/emin">Energy Minimization</a></li>
    <li><a href="/heating">Heating</a></li>
    <li><a href="/equil">Equilibration</a></li>
    <li><a href="/neutral_dynamics">Neutral Dynamics</a></li>
</ul>

{% endblock content %}