{% extends "layout.html" %}
{% block content %}
<h1>Recent Publications by the Thayer Lab</h1>
<div class="paper">
<h2>Molecular Dynamics of Mismatch Detection–How MutS Uses Indirect Readout to Find Errors in DNA</h2>
<p>Authors: A Jayaraj, KM Thayer, DL Beveridge, MM Hingorani</p>
<p>Year Published: 2023</p>
<p>Number of Citations: 0</p>
</div>
<br><br>

<div class="paper">
<h2>Allosteric Signaling in PDZ Energetic Networks: Embedding Error Analysis</h2>
<p>Authors: BS Cowan, DL Beveridge, KM Thayer</p>
<p>Year Published: 2023</p>
<p>Number of Citations: 0</p>
</div>
<br><br>

<div class="paper">
<h2>Network Analysis of Molecular Dynamics Sectors in the p53 Protein</h2>
<p>Authors: JD Fabry, KM Thayer</p>
<p>Year Published: 2022</p>
<p>Number of Citations: 1</p>
</div>
<br><br>

<div class="paper">
<h2>Variable Regions of p53 Isoforms Allosterically Hard Code DNA Interaction</h2>
<p>Authors: I Armour-Garb, ISM Han, BS Cowan, KM Thayer</p>
<p>Year Published: 2022</p>
<p>Number of Citations: 0</p>
</div>
<br><br>

<div class="paper">
<h2>Mutagenic Activation of Glutathione Peroxidase-4: Approaches toward Rational Design of Allosteric Drugs</h2>
<p>Authors: C Ma, DJ Chung, D Abramson, DR Langley, KM Thayer</p>
<p>Year Published: 2022</p>
<p>Number of Citations: 3</p>
</div>
<br><br>

<div class="paper">
<h2>Exploring the Role of Msh2‐Msh6 in Processing Holliday Junction DNA</h2>
<p>Authors: A Du, Z Lombardo, KM Thayer, I Mukerji</p>
<p>Year Published: 2022</p>
<p>Number of Citations: 0</p>
</div>
<br><br>

<div class="paper">
<h2>The CAR–mRNA Interaction Surface Is a Zipper Extension of the Ribosome A Site</h2>
<p>Authors: C Dalgarno, K Scopino, M Raval, C Nachmanoff, ED Sakkas, D Krizanc, ...</p>
<p>Year Published: 2022</p>
<p>Number of Citations: 1</p>
</div>
<br><br>

<div class="paper">
<h2>Insights into Rational Design of a New Class of Allosteric Effectors with Molecular Dynamics Markov State Models and Network Theory</h2>
<p>Authors: ISM Han, D Abramson, KM Thayer</p>
<p>Year Published: 2022</p>
<p>Number of Citations: 4</p>
</div>
<br><br>

<div class="paper">
<h2>Estradiol induces allosteric coupling and partitioning of sex-hormone-binding globulin monomers among conformational states</h2>
<p>Authors: R Jasuja, D Spencer, A Jayaraj, L Peng, M Krishna, B Lawney, P Patel, ...</p>
<p>Year Published: 2021</p>
<p>Number of Citations: 10</p>
</div>
<br><br>

<div class="paper">
<h2>Arginine methylation regulates ribosome CAR function</h2>
<p>Authors: K Scopino, C Dalgarno, C Nachmanoff, D Krizanc, KM Thayer, MP Weir</p>
<p>Year Published: 2021</p>
<p>Number of Citations: 7</p>
</div>
<br><br>

<div class="paper">
<h2>GCN sensitive protein translation in yeast</h2>
<p>Authors: WA Barr, RB Sheth, J Kwon, J Cho, JW Glickman, F Hart, OK Chatterji, ...</p>
<p>Year Published: 2020</p>
<p>Number of Citations: 6</p>
</div>
<br><br>

<div class="paper">
<h2>A ribosome interaction surface sensitive to mRNA GCN periodicity</h2>
<p>Authors: K Scopino, E Williams, A Elsayed, WA Barr, D Krizanc, KM Thayer, ...</p>
<p>Year Published: 2020</p>
<p>Number of Citations: 5</p>
</div>
<br><br>

<div class="paper">
<h2>Spectral analysis of molecular dynamics simulations on PDZ: MD sectors</h2>
<p>Authors: B Lakhani, KM Thayer, E Black, DL Beveridge</p>
<p>Year Published: 2020</p>
<p>Number of Citations: 12</p>
</div>
<br><br>

<div class="paper">
<h2>Homologs of the Tumor Suppressor Protein p53: A Bioinformatics Study for Drug Design</h2>
<p>Authors: KM Thayer, C Carcamo</p>
<p>Year Published: 2020</p>
<p>Number of Citations: 0</p>
</div>
<br><br>

<div class="paper">
<h2>Structural Determination of the Conformations of Glutathione Peroxidase‐4 (GPX4) Through Markov State Modeling</h2>
<p>Authors: D Chung, K Thayer, D Beveridge, D Langley</p>
<p>Year Published: 2019</p>
<p>Number of Citations: 0</p>
</div>
<br><br>

<div class="paper">
<h2>Dynamic Allosteric Biomolecular Design Using Artificial Intelligence</h2>
<p>Authors: K Thayer, D Beveridge, D Langley</p>
<p>Year Published: 2019</p>
<p>Number of Citations: 0</p>
</div>
<br><br>

<div class="paper">
<h2>Toward a universal structural and energetic model for prokaryotic promoters</h2>
<p>Authors: A Mishra, P Siwach, P Misra, B Jayaram, M Bansal, WK Olson, KM Thayer, ...</p>
<p>Year Published: 2018</p>
<p>Number of Citations: 7</p>
</div>
<br><br>

<div class="paper">
<h2>p53 tumor suppressor protein mutants R175H, G245S and R282W: structural prediction and analysis of full length proteins</h2>
<p>Authors: KM Thayer, L Je</p>
<p>Year Published: 2018</p>
<p>Number of Citations: 1</p>
</div>
<br><br>

<div class="paper">
<h2>Dependence of prevalence of contiguous pathways in proteins on structural complexity</h2>
<p>Authors: KM Thayer, JC Galganov, AJ Stein</p>
<p>Year Published: 2017</p>
<p>Number of Citations: 7</p>
</div>
<br><br>

<div class="paper">
<h2>Chemical principles additive model aligns low consensus DNA targets of p53 tumor suppressor protein</h2>
<p>Authors: KM Thayer, ISM Han</p>
<p>Year Published: 2017</p>
<p>Number of Citations: 2</p>
</div>
<br><br>

{% endblock content %}
